<div id="phone__{{phone.id}}" class="product-item col-md-3">
  <a class="product-link" href="/shop-management/phone/{{phone.id}}">
    <div class="product-wrapper">
      <img src="{{ phone.main_photo.url }}" />
    </div>
    <h5>{{ phone.title }} </h5>
    <p>Hãng sản xuất: {{phone.firm}} </p>
    <p>ID: {{ phone.id }} </p>
    <p>
      Updated at: {{ phone.updated_at}}
    </p>
    <p>
      {{ phone.description|truncatechars:90 }}
    </p>
  </a>

    <a class="btn btn-primary " href="/shop-management/phone/{{phone.id}}/edit" role="button">Edit</a>
    <button type="button" id="delete-button" data-id="{{phone.id}}" data-toggle="modal" data-target="#deleteModal"
      class="btn btn-danger">Xóa</button>
</div>