<div class="product-item col-md-3">
    <div class="product-wrapper">
      <img src="{{ phone.main_photo.url }}" />
    </div>
    <h5 href="">{{ phone.title }} </h5>
    <p>Hãng sản xuất: {{phone.firm}} </p>
    <p>ID: {{ phone.id }} </p>
    <p>
      Updated at: {{ phone.updated_at}}
    </p>
    <p>
      {{ phone.description|truncatechars:90 }}
    </p>
    <a class="btn btn-primary " href="/shop-management/phone/{{phone.id}}/edit" role="button">Edit</a>
    <form method="DELETE" action="/shop-management/phone/{{phone.id}}/delete"> 
      {% csrf_token %}
      <input type="submit" class="btn btn-danger" value="Xóa" />
    </form>
</div>