.product-wrapper img{
    width: 100%
}

.product-item:first-child {
    background-color: aqua;
}

.product-item:nth-child(2) {
    background-color: rgb(134, 218, 146);
}

.product-item:nth-child(3) {
    background-color: rgb(199, 238, 121);
}