<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Cảnh báo</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Việc làm này sẽ <b>xóa hoàn toàn</b> dữ liệu của sản phẩm có ID: <b id="product-id"></b>.<br /> Bạn thực sự muốn thực hiện chứ?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Không</button>
          <button id="modal-delete-btn" type="button" class="btn btn-danger">Xóa</button>
        </div>
      </div>
    </div>
  </div>